

export("hillsearchbn",
       "searchbn",
       "fitbn",
       "fitabn",
       "makeintofactors",
       "makeintobinarymatrix",
       "trim",
       "prunenets",
       "uniquenets",
       "tographviz",
       "hillsearchabn",
       "searchabn",
       "getmarginal"
       )   

useDynLib(abn)
